# Environment variables
.env

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
static/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE / Editor specific
.vscode/
.idea/

commands.txt